body{
    margin:0;
    padding:0;
}
.menu{
    display:flex;
    justify-content: space-between;
    background-color:grey;
    padding: 2vh 1vw 1vw 2vh;
    min-height:10vh;
}
nav{
    display:flex;
    justify-content: space-between;
}
nav div{
    margin: 0 1vw 0 0;
}
#description{
    background-image: url(descriptionbgr.jpg);
    background-size: cover;
    min-height:50vh;
}
#description div{
    background-color: rgba(100,100,100,0.7);
    width:100%;
    min-height:50vh;
    padding-top:30vh;
    color:white;
    font-size:4vw;
}