html {
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(31, 31, 31);
}
a{
    text-decoration:none;
    color:white;
}
.menu{
    display:flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(31, 31, 31);
}
.logo{
    font-size:3.5vw;
    padding: 4vh 0 0 3vw;
    font-family: 'Righteous', cursive;
    color:orange;
}
nav{
    display:flex;
    justify-content: space-between;
    font-size:2.3vw;
    min-height:17vh;
    font-family: 'Rubik', sans-serif;
}
nav div{
    cursor: pointer;
    margin: 5vh 2vw 0 0;
    height:6vh;
}
nav div:hover{
    color:orange;
}
#description{
    background-image: url('./photos/descriptionbgr.jpg');
    background-size: cover;
    min-height:71vh;
    text-align: center;
}
#description div{
    background-color: rgba(100,100,100,0.8);
    width:100%;
    min-height:71vh;
    padding-top:12vh;
    color:white;
    font-size:vw;
    font-family: 'Rubik', sans-serif;
    font-size: 2.1vw;
}
.fas.fa-arrow-circle-down{
    font-size: 3.5vw;
    margin-top:2vh;
}
.bgrphoto{
    background-image: url('./photos/tlo.jpg');
    background-attachment: fixed;
    background-size: cover;

}
#offers{
    text-align:center;
    color:rgb(34, 34, 34);
    font-size:2.3vw;
    font-family: 'Righteous', cursive;
    background-color: rgba(100,100,100,0.8);
    min-height:370vh;
}
#offers h1{
    width:100%;
    border-bottom: 0.1vw solid rgb(170, 170, 170);
    margin:0 0 3vh 0;
    padding: 17vh 0 10vh 0;
    color:white;
    letter-spacing: 0.2vw;
}
.car{
    min-height:35vh;
    margin: 10vh 0 0 0;
    display:flex;
    padding-bottom:5vh;
    border-bottom: 0.1vw solid orange;
    position: static;
}
.car:nth-child(odd){
    margin-right:2vw;
    margin-left: 23vw;
}
.car:nth-child(even){
    margin-left:2vw;
    margin-right: 23vw;
}
.slider{
    width:40vw; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:3.5vw;
    color:white;
}

.car:nth-child(2) .slider{
    background-image: url('./photos/porscheprzod.png'); 
    background-size: cover;
}
.car:nth-child(3) .slider{
    background-image: url('./photos/mustangprzod.png'); 
    background-size: cover;
}
.car:nth-child(4) .slider{
    background-image: url('./photos/lamboprzod.png'); 
    background-size: cover;
}
.car:nth-child(5) .slider{
    background-image: url('./photos/mercprzod.png'); 
    background-size: cover;
}
.car:nth-child(6) .slider{
    background-image: url('./photos/ferrariprzod.png'); 
    background-size: cover;
    
}
.data{
    width:35vw;
    min-height:20vh;
    padding: 2vh 0 1vh 1vw;
    text-align:left;
    font-size:2vw;
    letter-spacing: 0.1vw;
    font-family: 'Rubik', sans-serif;
    line-height: 6vh;
    margin: 0 0 0 2vw;
    border-radius:10%;
    color:white;
}
.data h2{
    font-size:3.2vw;
    margin:0;
    color:orange;
    font-family: 'Righteous', cursive;
    width:30vw;
}

#info{
    min-height:40vh;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top:10vh;
    font-size: 2.7vw;
    color:rgb(170, 170, 170);
    border-top: 0.1vw solid rgb(170, 170, 170);
    width:100%;
}
.contact{
    border-top: 0.1vw solid rgb(170, 170, 170);
    font-size: 2vw;
    display:flex;
    margin-top:3vh;
    justify-content:space-around;
    align-items:center;
    width:80vw;
    margin-right:auto;
    margin-left:auto;
    padding: 9vh 0 0 0;
}
.fb{
    font-size: 5vw;
}
.fab.fa-facebook{
    color:rgb(6, 89, 243);
}
.ig{
    font-size:5vw;
}
.fab.fa-instagram{
    color:rgb(204, 78, 116)
}
.fas.fa-circle{
    font-size:0.7vw;

}
footer{
    color:white;
    font-size:3vw;
}
@keyframes changePhoto{
    0% {opacity:1}
    50% {opacity:0}
    100%{opacity:1}
}