body{
    margin:0;
    padding:0;
}
.menu{
    display:flex;
    justify-content: space-between;
    background-color:grey;
    padding: 2vh 1vw 1vw 2vh;
    min-height:10vh;
}
nav{
    display:flex;
    justify-content: space-between;
}
nav div{
    margin: 0 1vw 0 0;
}
#description{
    background-image: url('./photos/descriptionbgr.jpg');
    background-size: cover;
    min-height:50vh;
    text-align: center;
}
#description div{
    background-color: rgba(100,100,100,0.7);
    width:100%;
    min-height:50vh;
    padding-top:30vh;
    color:white;
    font-size:4vw;
}
#offers{
    text-align:center;
    min-height:100vh;
    margin-bottom:3vh;
}
.car{
    min-height:50vh;
    border: 0.2vw solid rgb(90, 90, 90);
    margin: 8vh 0 0 0;
    background-color: lightblue;
    display:flex;
}
.car:nth-child(odd){
    margin-right:10vw;
    margin-left: 3vw;
}
.car:nth-child(even){
    margin-left:10vw;
    margin-right: 3vw;
}
.slider{
    width:45vw;
    border:0.1vw solid black;
    margin: 1vh 2vw 1vh 0.5vw;
    min-height:38vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:3.5vw;
    color:white;
}
.fas.fa-angle-double-left{
    opacity:0.5; 
    background-color:rgba(56, 56, 56, 0.4)
}
.fas.fa-angle-double-right{
    cursor:pointer;
    background-color:rgba(56, 56, 56, 0.4)
}

.car:nth-child(1) .slider{
    background-image: url('./photos/porscheprzod.jpg'); 
    background-size: cover;
}
.car:nth-child(2) .slider{
    background-image: url('./photos/mustangprzod.jpg'); 
    background-size: cover;
}
.car:nth-child(3) .slider{
    background-image: url('./photos/lamboprzod.jpg'); 
    background-size: cover;
}
.car:nth-child(4) .slider{
    background-image: url('./photos/mercprzod.jpg'); 
    background-size: cover;
}
.car:nth-child(5) .slider{
    background-image: url('./photos/ferrariprzod.jpg'); 
    background-size: cover;
}
.data{
    width:40vw;
    border:0.1vw solid black;
    margin: 1vh 0.5vw 1vh 2vw;
    min-height:38vh;
}

@keyframes changePhoto{
    0% {opacity:1}
    50% {opacity:0}
    100%{opacity:1}
}